/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: "Inter", sans-serif;
  background-color: #550302;
  color: #fcfbd6;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.logo {
  width: 40%;
}

.minilogo {
  width: 100px;
}

/* Header */
header .navegador {
  padding-right: 4rem;
  padding-left: 2rem;
}
header .navegador .navegador-contenedor .nav-cont-botones .botones {
  gap: 3rem;
}
header .navegador .navegador-contenedor .nav-cont-botones .botones .navboton {
  color: #fcfbd6;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
header .navegador .navegador-contenedor .nav-cont-botones .botones .navboton:hover {
  transform: scale(1.1);
}

/* Footer */
.footer {
  text-align: center;
  background-color: #470202;
  padding-top: 1rem;
}

/* Main-index */
main .main-principal .main-principal-section1 {
  text-align: center;
  padding: 1rem;
}
main .main-principal .main-principal-section1 .publi {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}
main .main-principal .main-principal-section1 .publi img {
  border-radius: 0.5rem;
}
main .main-principal .main-principal-section2 {
  text-align: center;
  padding: 1rem;
}
main .main-principal .main-principal-section2 .mas-visto-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  gap: 1rem;
}
main .main-principal .main-principal-section2 .mas-visto-grid .mas-item1 {
  transition: all 0.3s ease-in-out;
}
main .main-principal .main-principal-section2 .mas-visto-grid .mas-item1:hover {
  transform: scale(1.05);
}
main .main-principal .main-principal-section2 .mas-visto-grid .mas-item2 {
  transition: all 0.3s ease-in-out;
}
main .main-principal .main-principal-section2 .mas-visto-grid .mas-item2:hover {
  transform: scale(1.05);
}
main .main-principal .main-principal-section2 .mas-visto-grid .mas-item3 {
  transition: all 0.3s ease-in-out;
}
main .main-principal .main-principal-section2 .mas-visto-grid .mas-item3:hover {
  transform: scale(1.05);
}
main .main-principal .main-principal-section2 .mas-visto-grid .mas-item4 {
  transition: all 0.3s ease-in-out;
}
main .main-principal .main-principal-section2 .mas-visto-grid .mas-item4:hover {
  transform: scale(1.05);
}

/* estilos de tablet-index */
@media screen and (min-width: 600px) {
  main .main-principal .main-principal-section2 .mas-visto-grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* estilos de desktop-index */
@media screen and (min-width: 1024px) {
  main .main-principal .main-principal-section1 .publi {
    flex-direction: row;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 10rem;
  }
  main .main-principal .main-principal-section1 .publi .oferta2 {
    height: 450px;
  }
  main .main-principal .main-principal-section2 .mas-visto-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* Main-autos */
.contenedor-autos {
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}
.contenedor-autos .grid-autos .tarjeta-auto {
  background-color: #470202;
  border: 0.2rem solid #fcfbd6;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
.contenedor-autos .grid-autos .tarjeta-auto:hover {
  transform: scale(1.05);
}
.contenedor-autos .grid-autos .tarjeta-auto:hover a {
  transition: all 0.3s ease-in-out;
}
.contenedor-autos .grid-autos .tarjeta-auto:hover a:hover {
  transform: scale(1.1);
}

/* estilos de tablet-autos */
@media screen and (min-width: 600px) {
  .contenedor-autos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
  }
  .contenedor-autos .titulo-autos {
    grid-column: span 2;
  }
}
/* estilos de desktop-autos */
@media screen and (min-width: 1024px) {
  .contenedor-autos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .contenedor-autos .titulo-autos {
    grid-column: span 4;
  }
}
/* Main-publicacion */
.contenido {
  text-align: center;
  padding: 1rem;
}
.contenido .descripcion {
  background-color: #470202;
  border: 0.2rem solid #fcfbd6;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
}

.formulario-publicacion {
  padding: 1rem;
}
.formulario-publicacion form .campo-form .input {
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 0.5rem;
  box-shadow: inset 2px 5px 10px #fcfbd6;
  color: #fcfbd6;
}
.formulario-publicacion form button {
  background-color: #550302;
  color: #fcfbd6;
  width: 8rem;
  border-radius: 0.5rem;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}
.formulario-publicacion form button:hover {
  transform: scale(1.05);
  box-shadow: 0.15em;
}
.formulario-publicacion form button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/* estilos de desktop-publicacion */
@media screen and (min-width: 1024px) {
  .contenido {
    padding: 10rem;
  }
  .contenido section .img-principal {
    width: 70%;
  }
}
.formulario-publicacion {
  padding-left: 10rem;
}

.contenedor-contacto {
  padding: 1rem;
}
.contenedor-contacto .formulario {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contenedor-contacto .formulario button {
  background-color: #550302;
  color: #fcfbd6;
  width: 8rem;
  border-radius: 0.5rem;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}
.contenedor-contacto .formulario button:hover {
  transform: scale(1.05);
  box-shadow: 0.15em;
}
.contenedor-contacto .formulario button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.contenedor-contacto .formulario div .input {
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 0.5rem;
  box-shadow: inset 2px 5px 10px #fcfbd6;
  color: #fcfbd6;
}

/* estilos de desktop-contacto */
@media screen and (min-width: 1024px) {
  .contenedor-contacto {
    margin: 10rem;
    background-color: #470202;
    border: 0.2rem solid #fcfbd6;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
