* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: "Inter", sans-serif;
    background-color: #550302;
    color: #fcfbd6;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* Header */
header img {
    width: 30%;
}

/* Cambiar color del navbar Bootstrap */
.navbar {
    background-color: #550302 !important;
}

.navbar-nav .nav-link {
    color: #fcfbd6 !important;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #fcfbd6 !important;

}

.miubi {
    background-color: #fcfbd6;
    display: inline-block;
    padding: 1px;
    border-radius: 18px;
}

/* Main */
main {
    text-align: center;
    padding: 20px;
}

.main-principal {
    display: grid;
    grid-template-rows: 500px 1fr;
    grid-template-columns: auto; 
    padding: 40px;
    gap: 100px;
    
}

.oferta {
    width: 30%;
    height: 400px;
    margin: 1rem 10rem;
}

h1, h2, h3 {
    color: #fcfbd6;
    margin-bottom: 10px;
}

/* Botones */
.btn-danger {
    background-color: #550302;
    border: none;
    color: #fcfbd6;
}

.btn-danger:hover {
    background-color: #550302;
    color: #fcfbd6;
}

/* Botones oscuros (como en contacto.html) */
.btn-dark {
    background-color: #550302 !important;
    border: none;
    color: #fcfbd6 !important;
}

.btn-dark:hover {
    background-color: #550302 !important;
    color: #fcfbd6 !important;
}

/* Imagenes */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.imgprincipal {
    width: 700px;
    height: auto;
    border-radius: 12px;
    margin-top: 20px;
}

/* Secciones */
section {
    margin-bottom: 30px;
}

.descripcion {
    background-color: #fcfbd6;
    color: #550302;
    border: 2px solid #550302;
    border-radius: 12px;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

/* Formularios */
form {
    background-color: #fcfbd6;
    color: #550302;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    margin: 20px auto;
    max-width: 600px;
}

form label {
    font-weight: bold;
}

form input[type="text"], form input[type="email"],form input[type="celular"], form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #550302;
    border-radius: 8px;
    background-color: #fcfbd6;
    color: #550302;
}

form input[type="submit"], form button {
    background-color: #550302;
    color: #fcfbd6;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

form input[type="submit"]:hover,
form button:hover {
    background-color: #550302; 
}

/* Tablas (en contacto) */
.tabla {
    padding: 5px 15px;
    color: #550302;
}

/* footer */
footer {
    background-color: #3a0201;
    color: #fcfbd6 ;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

.minilogo { 
    width: 60px;   
    height: auto;  
} 

/* media query mobile */
@media (max-width: 768px) {
    .descripcion {
        width: 90%;
        font-size: 16px;
    }

    form {
        width: 90%;
    }

    h1 {
        font-size: 26px;
    }

    .imgprincipal {
        width: 100%;
    }

    footer {
        font-size: 14px;
    }

    .oferta {
        width: auto;
        height: auto;
        margin: 0 10px;
        padding: 10px;
    }
}
