//Reset
@use "./base/reset" as *;

//Index
@use "./pages/index" as *;
//Autos
@use "./pages/autos" as *;
//Publicacion
@use "./pages/publicacion" as *;
//Contacto
@use "./pages/contacto" as *;
//MQ-tablet
@use "../sass/layout/mq-tablet" as *;
//MQ-desktop
@use "../sass/layout/mq-desktop" as *;

