//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

/* estilos de tablet */
@media screen and (min-width: 600px){
    /* estilos de tablet-index */
    main {
        .main-principal {
            .main-principal-section2{
                .mas-visto-grid {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }

    /* estilos de tablet-autos */
    .contenedor-autos {
        .grid-autos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }  
}

