//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

/* estilos de desktop */
@media screen and (min-width: 1024px){
    /* estilos de desktop-header */
    header {
    .navegador {
        .navegador-contenedor {
            .nav-cont-botones {
                .botones {
                    gap: 3rem;
                    }
                }
            }
        }
    }

    /* estilos de desktop-index */
    main {
        .main-principal {
            .main-principal-section1{
                .publi {
                flex-direction: row;
                padding-left: 20rem;
                padding-right: 10rem;
                gap: 10rem;
                .oferta1 {
                    width: 40%;
                }
                .oferta2 {
                    width: 40%;
                    height: 305px;
                }
                }
            }
            .main-principal-section2{
                .mas-visto-grid {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
        }
    }

    /* estilos de desktop-publicacion */
    .contenido {
        padding: 10rem;
        section {
                .img-principal {
                    width: 70%;
                }
            }
        }
        .formulario-publicacion {
            padding-left: 10rem;
    }

    /* estilos de desktop-contacto */
    .contenedor-contacto {
        margin: 10rem;
        @include tarjeta;
    }

    /* estilos de desktop-autos */
    .contenedor-autos {
        .grid-autos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1rem;
        }
    }
}