//Variables
@use "../utilities/variables" as *;

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: "Inter", sans-serif;
    background-color: $color-principal;
    color: $color-secundario;
}

main, .contenedor-autos, .contenedor-contactos, .contenido {
    padding: 2rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.logo {
    width: 200px;
}

.minilogo {
    width: 40px;
}

/* General-Header */
header {
    background-color: $color-footer;
    .navegador {
        padding-right: 3rem;
        padding-left: 2rem;
        .navegador-contenedor {
            .nav-cont-botones {
                .botones {
                    .navboton {
                        color: $color-secundario;
                        font-size: 1.5rem;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

/* General-Footer */
.footer {
    text-align: center;
    background-color: $color-footer;
    padding-top: 1rem;
    padding-bottom: 1rem;
}