//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

/* Main-autos */
.contenedor-autos {
    @include centralizado;
    .grid-autos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        .tarjeta-auto{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            text-align: center;
            @include tarjeta;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.05);
                a {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}