//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

/* Main-autos */
.contenedor-autos {
    @include centralizado;
    display: grid;
    grid-template-columns: 1fr;
    .grid-autos {
        .tarjeta-auto{
            @include tarjeta;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.05);
                a {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}