//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

.contenedor-contacto {
    padding: 1rem;
    .formulario {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        button {
                background-color: $color-principal;
                color: $color-secundario;
                width: 8rem;
                border-radius: 0.5rem;
                font-family: inherit;
                padding: 0.6em 1.3em;
                font-weight: 900;
                font-size: 18px;
                border: 3px solid black;
                box-shadow: 0.1em 0.1em;
                cursor: pointer;
                &:hover {
                transform: scale(1.05);
                box-shadow: 0.15em;
                }
                &:active {
                transform: translate(0.05em, 0.05em);
                box-shadow: 0.05em 0.05em;
                }
            }
        div {
            .input {
                margin: 30px;
                background: none;
                border: none;
                outline: none;
                max-width: 190px;
                padding: 10px 20px;
                font-size: 16px;
                border-radius: 0.5rem;
                box-shadow: inset 2px 5px 10px $color-secundario;
                color: $color-secundario;
            }
        }
    };
}

/* estilos de desktop-contacto */
@media screen and (min-width: 1024px){
    .contenedor-contacto {
        margin: 10rem;
        @include tarjeta;
    }
}