//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

/* Main-index */
main {
    .main-principal {
        .main-principal-section1 {
            @include centralizado;
            .publi {
                display: flex;
                flex-direction: column;
                padding: 0.5rem;
                gap: 1rem;
                img {
                    border-radius: 0.5rem;
                }
            }
        }
        .main-principal-section2{
            @include centralizado;
            .mas-visto-grid {
                display: grid;
                grid-template-columns: 1fr;
                padding: 0.5rem;
                gap: 1rem;
                .mas-item1 {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .mas-item2 {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .mas-item3 {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .mas-item4 {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}
