//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

/* Main-index */
main {
    .main-principal {
        .main-principal-section1 {
            @include centralizado;
            .publi {
                display: flex;
                flex-direction: column;
                padding: 0.5rem;
                gap: 1rem;
                img {
                    border-radius: 0.5rem;
                }
            }
        }
        .main-principal-section2{
            @include centralizado;
            .mas-visto-grid {
                display: grid;
                grid-template-columns: 1fr;
                padding: 0.5rem;
                gap: 1rem;
                .mas-item1 {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .mas-item2 {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .mas-item3 {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .mas-item4 {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

/* estilos de tablet-index */
@media screen and (min-width: 600px){
    main {
        .main-principal {
            .main-principal-section2{
                .mas-visto-grid {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}

/* estilos de desktop-index */
@media screen and (min-width: 1024px){
    main {
        .main-principal {
            .main-principal-section1{
                .publi {
                flex-direction: row;
                padding-left: 10rem;
                padding-right: 10rem;
                gap: 10rem;
                .oferta2 {
                        height: 450px;
                    }
                }
            }
            .main-principal-section2{
                .mas-visto-grid {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
        }
    }
}
