//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

/* Main-publicacion */
.contenido {
    @include centralizado;
    .descripcion {
        @include tarjeta;
        text-align: left;
    }
}

.formulario-publicacion {
    padding: 1rem;
    form {
        .campo-form {
            .input {
                margin: 30px;
                background: none;
                border: none;
                outline: none;
                max-width: 190px;
                padding: 10px 20px;
                font-size: 16px;
                border-radius: 0.5rem;
                box-shadow: inset 2px 5px 10px $color-secundario;
                color: $color-secundario;
            }
        }
        button {
            background-color: $color-principal;
            color: $color-secundario;
            width: 8rem;
            border-radius: 0.5rem;
            font-family: inherit;
            padding: 0.6em 1.3em;
            font-weight: 900;
            font-size: 18px;
            border: 3px solid black;
            box-shadow: 0.1em 0.1em;
                cursor: pointer;
                &:hover {
                transform: scale(1.05);
                box-shadow: 0.15em;
                }
                &:active {
                transform: translate(0.05em, 0.05em);
                box-shadow: 0.05em 0.05em;
                }
        }
    }
}
